.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  border-radius: 30px;
  width: 250px;
  height: 35px;
  background: #E4E4E4;
  margin: 5px;
  border: none;
  text-indent: 15px;
}

.input-textarea {
  border-radius: 25px;
  border: none;
  width: 245px;
  background: #E4E4E4;
  margin: 5px;
  padding: 5px ;
  text-indent: 10px;
  font-family: 'Arial', Courier, monospace;
  font-size: 15px;
}

.container_form_proveedor {
  margin: 25px;
  font-family: 'Roboto', Courier, monospace;
}

.button-cancel {
  float: left;
  border-radius: 30px;
  border-color: red;
  color: red;
  font-size: 15px;
  width: 100px;
  height: 30px;
}

.button-submit {
  float: right;
  border-radius: 30px;
  border:none;
  background-color: red;
  color: #E4E4E4;
  font-size: 15px;
  width: 100px;
  height: 30px;
}